.profile-main-container{
    display:block;
    position: relative;
    top: 150px;    
   
   
}
.profile-main-wrapper{
    width: 80%;
    margin: 0 auto;
}
.one1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    font-size: 17px;
}